/* CSS RESET 

http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}


/* remember to define focus styles! */

:focus {
    outline: 0;
}

body {
    line-height: 1;
    color: black;
    background: white;
}

ol,
ul {
    list-style: none;
}


/* tables still need 'cellspacing="0"' in the markup */

table {
    border-collapse: separate;
    border-spacing: 0;
}

caption,
th,
td {
    text-align: left;
    font-weight: normal;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
}

blockquote,
q {
    quotes: "" "";
}


/* ENDE RESET */

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #333;
    background: #ffffff url("../img/background.png") repeat right top;
}

#header {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#subheader {
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#saveThePet {
    text-align: center;
    /* padding: T R B L */
    /* padding: TB RL */
    padding: 10px 0;
}

#saveThePet h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 5em;
    color: #232323;
    color: #232323;
    padding-top: 30px;
}

#saveThePet h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3em;
    color: #232323;
    color: #232323;
    padding-bottom: 30px;
}

.topBorderDotted {
    border-top: 2px dotted #E1533C;
}

.bottomBorderDotted {
    border-bottom: 2px dotted #E1533C;
}


/* https://davidwalsh.name/css-circles */

.circle {
    margin: auto;
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    background: #E1533C;
    padding-top: 20px;
    border-radius: 50%;
    width: 100px;
    height: 80px;
    /* width and height can be anything, as long as they're equal */
}


/*
<div id="navigation"></div>     <------ #navigation     "ID-Selektor"
<div class="navigation"></div>  <------ .navigation     "Class-Selektor"
<nav></nav>                     <------  nav            "Element-Selektor"

*/

nav {
    text-align: right;
}

nav li {
    display: inline-block;
    /* li nebeneinander anzeigen und Breite berücksichtigen */
    list-style-type: none;
    /* ohne Aufzählungspunkte */
    width: 110px;
    text-align: center;
}

nav li a {
    color: #E1533C;
    text-decoration: none;
    font-size: 15px;
    line-height: 30px;
    font: Arial, Helvetica, sans-serif;
}

nav li > ul {
    display:none;
}

nav li:hover > ul {
    display: block;
    position: absolute;
}


.widthLimit {
    width: 1100px;
    margin: auto;
}

.content {
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.content>div {
    flex: 1 1 0;
    min-width: 0;
}

#volunteer {
    padding-right: 20px;
    border-right: 2px dotted #E1533C;
}

#adoptableDogs {
    padding-right: 20px;
}

.content h1 {
    text-transform: uppercase;
    font-size: 3em;
    color: #E1533C;    
}

.content h2 {
    display: block;
    font-size: 2em;
    color: #E1533C;
}

.content h3 {
    display: block;
    font-size: 1em;
    font-weight: bold;
    color: #E1533C;
}

#catOfTheWeek,
#dogOfTheWeek {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Bild abrunden: https://www.abeautifulsite.net/how-to-make-rounded-images-with-css */
#catOfTheWeek img,
#dogOfTheWeek img {
    border-radius: 50%;
}

#animalsOfTheWeek .animalOfTheWeekDescription {
    margin-left: 30px;
}

/* Selektiert alle h3, die nach einem h1 kommen */

h1 ~ h3 {
    padding-top: 20px;
    padding-left: 50px;
}

/* Selektiert alle p, die nach einem h1 kommen */
h1 ~ p
 {
    padding-top: 5px;
    padding-left: 50px;
}

#animalsOfTheWeek p {
    padding-top: 10px;
    padding-left: 30px;
}

#payment {
    display: flex;
    background: url("../img/pricePicture.png") no-repeat top left;
    width: 540px;
    height: 214px;
}

#payment > div {
    min-width: 0;
}

#payment h1 {
    font-size: 2.5em;
}

#payment h2 {
    font-size: 1.5em;
}

#dollar {    
    text-align: center;
    position: relative;
    top: 35px;
    left: 50px;
}

#dollar > h2 {
    padding-top: 55px;
}

#dollarDescription {  
    position: relative;
    top: 35px;
    left: 105px;
    width: 260px;
}

#footer {
    height: 114px;
    background: #E1533C;
}

#footerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footerContainer > div{
    min-width: 0;
    flex: 1 1 0;
    color: #fff;
    padding-top: 10px;    
}

#footerContainer > div > * {
    display: inline;
}

#copyright {
    display: flex;
}

#footerContainer h2 {
    font-size: 2em;
    padding-right: 10px;
}

#footerContainer img {
    vertical-align: middle;
    padding: 0 10px;
}

#footerContainer #youtube {
    min-width: 300px;
}

#cat {
    width: 717px;
    height: 516px;
    background: url("../img/katze.png") no-repeat top left;
}

/* halber Bildschirm */
@media screen and (max-width: 960px) {

    .widthLimit
    {
        width: 850px;
    }

    #dollarDescription {
        width: 200px;
    }
}

/* Telefone */
@media all  and (max-width: 360px) {

   .widthLimit {
       width: auto;
   }

    .content,
    #subheader {
        display: block !important;
    }

    .content > *,
    #subheader > * {
        flex: none !important;
    }

    #cat {
        width: 360px;
        height: 259px;
        background: url("../img/katze_android.png") no-repeat top left;
    }    

    #payment {
        background: url("../img/pricePicture_android.png") no-repeat top left;
        width: 360px;
        height: 142px;
    }

    #dollar {
        top: 24px;
        left: 28px;
    }
    
    #dollar > h2 {
        padding-top: 10px;
        font-size: 1.1em;
    }   

    #dollarDescription {
        top: 10px;
        left: 60px;
    }

    #footer {
        height: auto;
    }

    #footerContainer {
        display: block;
    }
    
    #footerContainer h2 {
        padding-left: 10px;
    }

}